LABEL clariceos64
TEXT HELP
Boot ClariceOS on BIOS.
It allows you to install ClariceOS or perform system maintenance.
ENDTEXT
MENU LABEL ClariceOS (x86_64, BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL clariceos64speech
TEXT HELP
Boot ClariceOS on BIOS with speakup screen reader.
It allows you to install ClariceOS or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL ClariceOS (x86_64, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
