[Desktop Entry]
Type=Application
Version=1.5
Name=Install Clarice OS
GenericName=System Installer
Comment=Install Clarice OS to your computer
Exec=calamares
Icon=calamares
Terminal=false
Categories=System;
Keywords=install;installer;setup;clariceos;
